<div class="sidebar">
    <div class="user-profile">
        <div class="user-avatar">
            <img src="../../../assets/svgs/user.svg?height=40&width=40" alt="Your profile" />
            <span class="status-indicator online"></span>
        </div>
        <h2>Chats</h2>
        <div class="user-actions">
            <!--<i class="material-icons">settings</i>
            <i class="material-icons">star</i>
            <i class="material-icons">vpn_key</i>
            <i class="material-icons">chat</i>
            <i class="material-icons">phone</i>
            <i class="material-icons">videocam</i>
            <i class="material-icons">archive</i>
            <i class="material-icons">help</i>
            <i class="material-icons">more_horiz</i>
            <i class="material-icons">menu</i>-->
            <i class="material-icons action-icon">group</i>
            <i class="material-icons action-icon" (click)="toggleMenu($event)">more_vert</i>
            <app-message-options [options]="options" [showMenu]="showMenu" (optionClicked)="handleMenuAction($event)"
                (backdropClicked)="closeMenu()"></app-message-options>
        </div>
    </div>

    <div class="search-container">
        <div class="search-box">
            <i class="material-icons">search</i>
            <input type="text" placeholder="Buscar contactos o chats" [(ngModel)]="searchTerm" />
            <i *ngIf="searchTerm" class="material-icons clear-search" (click)="searchTerm = ''">close</i>
        </div>
    </div>

    <div class="tabs">
        <div class="tab active">Chats</div>
        <div class="tab">Estados</div>
        <div class="tab">Llamadas</div>
    </div>

    <div class="contacts-list">
        <div *ngFor="let contact of filteredContacts" class="contact-item"
            [class.active]="contact.id === activeContact?.id" [class.pending]="contact.status === 'pendig_acceptance'"
            (click)="selectContact(contact)">
            <div class="contact-avatar">
                <img [src]="contact?.profilePicture || '../../../assets/svgs/user.svg'" [alt]="contact?.name" />
            </div>
            <div class="contact-info">
                <div class="contact-name-time">
                    <h3>{{ contact.name }}</h3>
                    <!--<span class="time" [class.typing]="typingSet.has(contact.id)">{{ typingSet.has(contact.id) ? 'Escribiendo...' : (contact.lastSeen | date: 'hh:mm')}}</span>-->
                    <span class="time" [class.typing]="typingSet.has(contact.id)">{{ typingSet.has(contact.id) ? 'Escribiendo...' : (contact.lastMessage?.date | date: 'hh:mm')}}</span>
                </div>
                <div class="contact-message-status">
                    <p *ngIf="contact.status !== 'pendig_acceptance'">
                        <i class="material-icons status-icon" [ngStyle]="{color: contact.lastMessage?.status === 'sent' ? 'gray' : '#5b68f2'}">{{ getStatusIcon(contact.lastMessage?.status || '') }}</i>
                        {{ contact.lastMessage?.message || contact.name }}
                    </p>
                    <p *ngIf="contact.status === 'pendig_acceptance'" class="pending-text">Solicitud de contacto</p>
                    <div class="message-status" *ngIf="contact.status !== 'pendig_acceptance'">
                        <span *ngIf="contact.unreadMessages > 0" class="unread-count">{{ contact.unreadMessages }}</span>
                        <i *ngIf="false" class="material-icons read-status">{{
                            getStatusIcon('active') }}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-chat-button">
        <i class="material-icons">chat</i>
    </div>
</div>