<!--<div class="dropdown-menu1" [class.show]="showMenu">
    <div class="dropdown-backdrop" (click)="onBackdropClick()"></div>
    <div class="dropdown-content">
        <ng-container *ngFor="let option of options">
            <div *ngIf="!option.divider" class="dropdown-item" (click)="optionClick(option.action ?? '')">
                <span>{{ option.label }}</span>
            </div>
            <div *ngIf="option.divider" class="dropdown-divider"></div>
        </ng-container>
    </div>
</div>-->

<div class="options-modal-container" [class.visible]="visible" [style.zIndex]="zIndex" *ngIf="visible">
  <!-- Overlay para bloquear el resto de la interfaz -->
  <div class="modal-overlay" (click)="closeModal()"></div>

  <!-- Botón trigger que aparece al hover -->
  <div class="trigger-button" [class.visible]="showTrigger" [style.backgroundColor]="triggerBgColor"
    [style.color]="triggerColor" (click)="toggleModal($event)">
    <i class="material-icons">{{ triggerIcon }}</i>
  </div>
  <!-- Modal de opciones -->
  <div class="options-modal" [class.visible]="visible" [style.width.px]="width" [style.backgroundColor]="bgColor"
    [style.boxShadow]="boxShadow">

    <div *ngFor="let option of options" class="option-item" [class.danger]="option.danger"
      [style.color]="option.color || textColor" (click)="selectOption(option)">
      <i class="material-icons" [style.color]="option.color || iconColor">{{ option.icon }}</i>
      <span>{{ option.label }}</span>
    </div>
  </div>
</div>