<div class="chat-area" *ngIf="activeContact?.id">
    <div class="chat-header">
        <div class="chat-contact-info">
            <div class="back-button">
                <i class="material-icons">arrow_back</i>
            </div>
            <div class="contact-avatar">
                <img [src]="activeContact?.profilePicture" [alt]="activeContact?.name" />
            </div>
            <div class="contact-details">
                <h3>{{ activeContact?.name }}</h3>
                <span class="status">{{ state }}</span>
            </div>
        </div>
        <div class="chat-actions">
            <i class="material-icons">videocam</i>
            <i class="material-icons">call</i>
            <i class="material-icons">more_vert</i>
        </div>
    </div>

    <!--<div class="messages-date">Hoy</div>-->
    <div class="messages-date" [class.visible]="!isScrolling">
        {{ 'HOY' }}
    </div>

    <div *ngIf="!isPending" #messagesContainer class="messages-container" (scroll)="onScroll()">
        <div *ngFor="let message of messages; trackBy: trackByMessageId" class="message-wrapper"
            [class.outgoing]="message.to === activeContact?.id" #messageElement>
            <div class="messages-date" #dateHeader>{{ message.timestamp | dateformat }}</div>
            <div class="message">
                <div class="message-content">{{ message.content?.body }}</div>
                <div class="message-meta">
                    <span class="message-time">{{ message.timestamp | date: 'hh:mm a' }}</span>
                    <i *ngIf="true" class="material-icons status-icon">
                        {{ util.getStatusIcon(message.status ||'')}}
                    </i>
                </div>
            </div>
        </div>

        <!--<div *ngIf="isTyping" class="message-wrapper">
            <div class="message">
                <div class="typing-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>-->
    </div>





    <!--<div class="messages-container" #messagesContainer *ngIf="!isPending">
        <ng-container *ngFor="let message of messages; trackBy: trackByMessageId">
            <div *ngIf="message.to === activeContact?.id" class="message-wrapper outgoing">
                <div class="message">
                    <div class="message-content">{{ message.content?.body }}</div>
                    <div class="message-meta">
                        <span class="message-time">{{ message.timestamp | date: 'hh:mm a' }}</span>
                        <i class="material-icons status-icon">{{ util.getStatusIcon(message.status || '') }}</i>
                    </div>
                </div>
            </div>

            <div *ngIf="message.to !== activeContact?.id" class="message-wrapper incoming">
                <div class="message">
                    <div class="message-content">{{ message.content?.body }}</div>
                    <div class="message-meta">
                        <span class="message-time">{{ message.timestamp | date: 'hh:mm a' }}</span>
                        <i *ngIf="message.status" class="material-icons status-icon">{{
                            util.getStatusIcon(message.status) }}</i>
                    </div>
                </div>
            </div>
        </ng-container>

        <div *ngIf="isTyping" class="message-wrapper incoming">
            <div class="message">
                <div class="typing-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>-->



    <div *ngIf="isPending" class="messages-container pending-chat">
        <div class="pending-banner">
            <i class="material-icons">person_add</i>
            <span>{{ activeContact?.name }} te ha enviado una solicitud de contacto</span>

            <div class="pending-actions-compact">
                <button class="reject-btn-compact" (click)="changeStatus('reject')">
                    <i class="material-icons">close</i>
                    Rechazar
                </button>
                <button class="accept-btn-compact" (click)="changeStatus('contact')">
                    <i class="material-icons">check</i>
                    Aceptar
                </button>
            </div>
        </div>

        <div class="message-wrapper" *ngFor="let msg of messages; trackBy: trackByMessageId">
            <div class="message pending-message">
                <div class="message-content">{{ msg.content.body }}</div>
                <div class="message-meta">
                    <span class="message-time">{{ msg.timestamp | date: 'hh:mm a'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-input-area" [class.disabled]="isPending">
        <div class="input-actions">
            <i class="material-icons">emoji_emotions</i>
            <i class="material-icons">attach_file</i>
        </div>
        <div class="message-input" *ngIf="!isPending && !limitMessageSendPending">
            <input type="text" placeholder="Escribe un mensaje" [(ngModel)]="message.content" [disabled]="isPending"
                (keyup.enter)="onSendMessage()" (input)="onTyping()" />
        </div>
        <div class="send-button" (click)="onSendMessage()" *ngIf="!isPending">
            <i class="material-icons">{{ newMessage ? 'send' : 'mic' }}</i>
        </div>

        <div *ngIf="isPending || limitMessageSendPending" class="pending-input-message">
            <i class="material-icons">lock</i>
            <span> {{ getMessageBlocked() }} </span>
        </div>
    </div>
</div>

<ng-container *ngIf="!activeContact?.id">
    Descarga la App disponible en la Play Store
</ng-container>