<div class="chat-area" *ngIf="activeContact?.id">
    <div class="chat-header">
        <div class="chat-contact-info">
            <div class="back-button">
                <i class="material-icons">arrow_back</i>
            </div>
            <div class="contact-avatar">
                <img [src]="activeContact?.profilePicture || '../../../assets/svgs/user.svg'"
                    [alt]="activeContact?.name" />
            </div>
            <div class="contact-details">
                <h3>{{ activeContact?.name }}</h3>
                <span class="status" [class.typing]="state === 'Escribiendo...'">{{ state }}</span>
            </div>
        </div>
        <div class="chat-actions">
            <i class="material-icons">search</i>
            <i class="material-icons">videocam</i>
            <i class="material-icons">call</i>
            <i class="material-icons" (click)="toggleMenuHeader($event)">more_vert</i>
        </div>
    </div>

    <span class="floating-date date-badge" *ngIf="isScrolling && currentDateDisplay">
        {{ currentDateDisplay | uppercase }}
    </span>

    <div *ngIf="!isPending" #messagesContainer class="messages-container" (scroll)="onScroll()">
        <ng-container *ngFor="let group of messages">
            <div class="messages-date-header date-badge" #dateHeader>
                {{ group.date | dateformat | uppercase }}
            </div>
            <div *ngFor="let message of group.messages; trackBy: trackByMessageId" class="message-wrapper"
                [class.outgoing]="message.to === activeContact?.id" #messageElement [attr.data-message-id]="message.id">
                <div class="messages-date invisible-date-header" #dateHeader>{{ message.timestamp | dateformat }}</div>
                <div class="message">
                    <div class="message-content">{{ message.content?.body }}</div>
                    <div class="message-meta">
                        <span class="message-time">{{ message.timestamp | date: 'shortTime' }}</span>
                        <i class="material-icons status-icon"
                            [ngStyle]="{color: message.status === 'sent' ? 'gray' : '#5b68f2'}">
                            {{ util.getStatusIcon(message.status || '') }}
                        </i>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="isTyping" class="message-wrapper">
            <div class="message">
                <div class="typing-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-input-area" [class.disabled]="isPending">
        <div class="input-actions">
            <i class="material-icons" (click)="toggleEmojiPicker($event)">emoji_emotions</i>
            <i class="material-icons">attach_file</i>
        </div>
        <div class="message-input" *ngIf="!isPending && !limitMessageSendPending">
            <input #messageInput type="text" placeholder="Escribe un mensaje" [(ngModel)]="message.content"
                [disabled]="isPending" (keyup.enter)="onSendMessage()" (input)="onTyping()" />
        </div>
        <div class="send-button" (click)="onSendMessage()" *ngIf="!isPending">
            <i class="material-icons">{{ newMessage ? 'send' : 'mic' }}</i>
        </div>

        <div *ngIf="isPending || limitMessageSendPending" class="pending-input-message">
            <i class="material-icons">lock</i>
            <span> {{ getMessageBlocked() }} </span>
        </div>

        <!--<div #emojiTrigger class="emoji-modal-container" *ngIf="showEmojiPicker">
            <div class="emoji-picker-wrapper emoji-modal-trans">
                <emoji-mart (emojiClick)="addEmoji($event)"
                    [i18n]="{ search: 'Buscar...', categories: { search: 'Resultado de búsqueda', recent: 'Recientes' } }"
                    [darkMode]="isDarkMode" [perLine]="getPerLine()" [isNative]="true" [showPreview]="false" [skin]="1">
                </emoji-mart>
            </div>
        </div>-->
    </div>
    <ng-container *ngIf="!activeContact?.id">
        Descarga la App disponible en la Play Store
    </ng-container>
</div>